
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #173e43;
    color: white;
}


.jumbotron {
    
    color:white;
    
    text-align: center;
    background-image: url("../images/high-speed-trainjpg.jpeg");
    background-size: 1200px 250px;
    margin-top: 20px;
    color: #6d4b3e;
    height: 250px;

    
}
button {
    margin-top:10px;
    float: left;
    margin-bottom: 25px;
    
}

.display-4 {
    margin-top: -60px;
    font-family: 'Courgette', cursive;
    margin-left: 570px;
}



#info-display{
    background-color: #a8b6bf;
    color: #795548;
    border-radius: 10px;
    font-weight: bold;
}

h3{
    margin-top: 10px;
}

#right-form{
    margin-top: 51px;
}

.btn-primary {
    color: #fff;
    background-color: #3fb0ac;
    border-color: #0e8088;
    margin-left: 15px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #338886;
    border-color: #338886;
}

